.editor-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.editor {
  min-height: 150px;
  width: 100%;
  flex: auto;
  position: relative;
  resize: vertical;
  z-index: 0;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  color: #222325;
}
