.content-editable {
  padding: 8px 30px 40px;
  min-height: 150px;
  outline: none;

  font-family: San Francisco, -apple-system, BlinkMacSystemFont, Microsoft Yahei, "微軟正黑體", "Microsoft JhengHei", helvetica, sans-serif;
  word-wrap: break-word;

  > *:first-child {
    margin-top: 0;
  }
}

.placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 8px;
  left: 30px;
  right: 30px;
  user-select: none;
  white-space: nowrap;
  pointer-events: none;
}
